/* *********************** Custom properties ********************** */
:root {
  --first-color: #390099;
  --second-color: #ff5400;
  --third-color: #ff0054;
  --fourth-color: #ffbd00;

  --bs-list-group-action-color: var(--second-color);
}

/* *********************** Reset styles ********************** */

body {
  margin: 0;
  padding: 0;
}

/* *********************** Bootstrap styles ********************** */

.btn-warning {
  background-color: var(--fourth-color);
}

.list-group-item-action {
  color: var(--second-color);
}

.list-group-item-action:hover {
  color: var(--second-color);
  opacity: 0.8;
}

.link {
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
  transition: opacity 300ms ease;
}

.link:hover {
  opacity: 0.75;
}

/* *********************** My styles ********************** */

.bg-gradiend {
  background-image: linear-gradient(
    #9e0059,
    #940066,
    #830076,
    #690087,
    #390099
  );
}

.bg-primary {
  background-color: var(--first-color) !important;
}

.btn-dificulty-active,
.btn-dificulty:hover {
  background-color: var(--second-color);
  color: var(--bs-white);
}

.card-hover {
  transition: background-color 300ms ease;
}

.card-hover:hover {
  background-color: #39009940;
}

.card-hover .card-title {
  transition: opacity 300ms 100ms ease;
}

.card-hover:hover .card-title {
  opacity: 1 !important;
}

.logo {
  width: auto;
  height: 2rem;
}

.hidden {
  opacity: 0;
  user-select: none;
}

.scroll-margin {
  scroll-margin-top: 12ex;
}

.memory-card {
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 500ms ease-out;
}

.flip {
  transform: rotateY(180deg);
}

.memory-card-side-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  backface-visibility: hidden;
}

.perspective {
  perspective: 800px;
}

.text-prymary {
  color: var(--first-color);
}

.text-second {
  color: var(--second-color);
}

.timer {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
  line-height: 1.2;
}

.memory-tag {
  display: flex;
  align-items: center;
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .timer {
    width: 100%;
    font-size: calc(1.575rem + 3.9vw);
  }

  .memory-tag {
    width: calc(50% - 0.5rem);
    flex-direction: column-reverse;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
