<div class="bg-primary px-3 sticky-top">
	<nav class="navbar" id="navbar">
	  <a class="navbar-brand mx-auto" href="/" id="logo">
	    <img
	      src="../assets/img/cerebro-feliz.webp"
	      alt="logo"
	      class="logo"
	    />
	  </a>
	</nav>
</div>
