<div class="bg-primary px-3">
	<nav class="navbar p-0" id="navbar">
	  <a class="navbar-brand mx-auto" href="/" id="logo">
	    <img
	      src="/img/cerebro-feliz.webp"
	      alt="logo"
	      class="logo"
	    />
	  </a>
	</nav>
</div>
