<div
  class="modal fade"
  id="modal-win"
  tabindex="-1"
  aria-labelledby="modal win"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
      	class="modal-header justify-content-center border-0 pb-0"
      >
        <h1 class="modal-title display-3" id="exampleModalLabel">
          ¡Felicidades!
        </h1>
      </div>
      <div class="modal-body py-0"></div>
      <div class="modal-footer border-0">
        <button
          id="modal-exit"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          No, otro día
        </button>
        <button
          id="modal-continue"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Si, otra más
        </button>
      </div>
    </div>
  </div>
</div>
