<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content bg-body-secondary">
      <div
      	class="modal-header justify-content-center border-0 pb-0"
      	>
        <h1
        	class="modal-title display-3"
        	id="exampleModalLabel"
        >
          ¡Fin del juego!
        </h1>
      </div>
      <div class="modal-body py-0"></div>
      <div class="modal-footer border-0">
        <button
          id="modal-exit"
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          ¡¡¡Estoy harto de este juego!!!
        </button>
        <button
          id="modal-continue"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Solo una más
        </button>
      </div>
    </div>
  </div>
</div>
