html {
	user-select: none;
}

.section-game {
	padding: .5rem;
}

.gear {
	color: indigo;
	font-weight: bold;
}

.gear-board {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.gear-board > .cell {
	border: thin solid #aaa;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.gear-board > .cell::before {
	/*
	content: '';
	width: 15%;
	height: 15%;
	background-color: #444;
	border-radius: 50%;
	*/
}

.gears-container {
	position: relative;
}

.gears-container__controls {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

.gears-container.selected .gears-container__controls {
	visibility: visible;
	opacity: 1;
}

.gears-container__pieces {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	cursor: grab;
	height: 100%;
	font-size: 2rem;
	text-align: center;
}

.gear-cell {
	cursor: inherit;
}

.cell-begin,
.cell-end {
	position: absolute;
	padding: 1rem;
	background-color: hsl(250, 73%, 70%);
}

.cell-begin {
	right: 0;
	bottom: 0;
}

.cell-end {
	left: 0;
	bottom: 0;
}
