/* *********************** Custom properties ********************** */
:root {
  --first-color: hsl(30, 100%, 30%);
  --second-color: hsl(15, 100%, 40%);
  --third-color: #ff0054;
  --fourth-color: #ffbd00;

  --bs-list-group-action-color: var(--second-color);
  --bs-border-color: hsl(15, 45%, 35%);
}

/* *********************** Reset styles ********************** */

body {
  margin: 0;
  padding: 0;
}

input[type="button"],
button {
	cursor: pointer !important;
}

/* *********************** Bootstrap styles ********************** */

.bg-body-secondary {
	background-color: hsla(30 50% 90% / var(--bs-bg-opacity)) !important;
}

.bg-body-tertiary {
	background-color: hsla(30 50% 85% / var(--bs-bg-opacity)) !important;
}

.btn-warning {
  background-color: var(--fourth-color);
}

.list-group-item-action {
  color: var(--second-color);
}

.list-group-item-action:hover {
  color: var(--second-color);
  opacity: 0.8;
}

.link {
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
  transition: opacity 300ms ease;
}

.link:hover {
  opacity: 0.75;
}

.modal {
  background-color: #0005;
}

/* *********************** My styles ********************** */

.main-game {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

.section-game {
	background-image: radial-gradient(
		circle at center center,
		hsl(30, 80%, 90%),
		hsl(22, 45%, 70%)
	);
}

.bg-gradiend {
	background-image: radial-gradient(
		ellipse at center center,
		hsl(30, 80%, 70%),
		hsl(15, 45%, 30%) 80%
	);
}

.bg-primary {
  background-color: var(--first-color) !important;
}

.btn-memory-select {
	border: none;
	display: inline-block;
	font-size: 1.5rem;
	height: 5rem;
	width: min(10rem, 100%);
	border-radius: var(--bs-border-radius);
	color: var(--bs-gray-700);
	transform-origin: center;
	transition: transform ease-out 100ms;
}

.btn-memory-select:hover,
.btn-memory-select.selected {
	border: 2px solid hsl(25, 60%, 60%);
	color: var(--bs-gray-900);
}

.btn-memory-select:active {
	transform: scaleX(1.05) scaleY(0.95);
}

.btn-dificulty-active,
.btn-dificulty:hover {
  background-color: var(--second-color);
  color: var(--bs-white);
}

.card-hover {
  transition: background-color 300ms ease;
}

.card-hover:hover {
  background-color: #39009940;
}

.card-hover .card-title {
  transition: opacity 300ms 100ms ease;
}

.card-hover:hover .card-title {
  opacity: 1 !important;
}

.logo {
  width: auto;
  height: 3rem;
  transition: transform 300ms ease;
}

.logo:hover {
	transform: rotate(-15deg) scale(1.1);
}

.hidden {
  opacity: 0;
  user-select: none;
}

.scroll-margin {
  scroll-margin-top: 6ex;
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .timer {
    width: 100%;
    font-size: calc(1.575rem + 3.9vw);
  }

  .memory-tag {
    width: calc(50% - 0.5rem);
    flex-direction: column-reverse;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
