---
layout: 'base.njk'
title: 'Juegos'
scripts: ['./js/index.js']
memoryTypes: ['Famosos']
memoryDificulty: [
	{
		content: 'Facil',
		icon: 'bi-emoji-smile-fill'
	},
	{
		content: 'Medio',
		icon: 'bi-emoji-neutral-fill'
	},
	{
		content: 'Dificil',
		icon: 'bi-emoji-angry-fill'
	}
]
---

<header class="bg-gradiend text-white">
  <div class="container">
    <section
      class="row align-items-center min-vh-100 text-center"
    >
      <div class="col-12 col-md-6 order-md-last">
        <img
        	src="/assets/img/cerebro-idea.webp"
        	alt="cerebro"
        	class="img-fluid"
        />
      </div>
      <div class="col-12 col-md-6">
        <h1 class="display-1 mt-4 mb-3">Memoria</h1>
        <p class="text-white text-opacity-75 mb-5">
          Los juegos de memoria son una forma divertida y 
          efectiva de mantener tu cerebro activo y saludable. 
          Desde clásicos como el Memorama hasta desafíos 
          digitales como el juego de Simón, estos
          juegos mejoran la concentración y la habilidad para 
          recordar.
        </p>
      </div>
    </section>
  </div>
</header>

{% include 'modal-memory-select.njk' %}

<main class="min-vh-100 bg-body-secondary">
  <div class="container py-1">
    <h2
    	id="juegos"
    	class="h2 my-4 scroll-margin text-center text-prymary"
    >
      Catálogo de juegos
    </h2>
    <div class="row row-cols-2 g-3">
			{% for game in games %}
				<div class="col">
					<div class="card border">
						<div class="card-body">
							<a
				        href="{{ game.href }}"
				        class="link link-primary text-decoration-none d-inline-flex align-items-center"
				        {% if game.id %} id="{{ game.id }}" {% endif %}
				      >
				      	<i class="bi {{ game.icon }} fs-1 d-inline-block mx-3">
				      	</i>
				      	{{ game.title }}
				      </a>
				    </div>
			    </div>
			  </div>
			{% endfor %}
    </div>
  </div>
</main>

{% include 'footer.njk' %}
