---
layout: 'game.njk'
title: 'IQ GEARS'
permalink: '/iq-gears/'
scripts: ['../assets/js/iq-gears.js']
---

<section class="layout">
	<section>
		<div class="mb-3 text-body-secondary">
			<span id="levels"></span>
		</div>
		<div class="gear-board mx-auto position-relative">
			<img
				id="begin-big-gear"
				class="big-gear begin-gear"
				src="/img/iq-gears/engranaje-grande.svg"
				alt="Engranage de inicio"
				draggable="false"
			/>
			<img
				id="end-big-gear"
				class="big-gear end-gear"
				src="/img/iq-gears/engranaje-grande.svg"
				alt="Engranage de llegada"
				draggable="false"
			/>
			<div class="gear-board__inner">
				{% for i in range(0, 25) %}
					<div
						id="gear-cell-{{i}}"
						class="cell js-gear-cell {% if i === 9 or i === 21 %}cell-input{% endif %}"
					></div>
				{% endfor %}
			</div>
			<div id="gear-cell-begin" class="cell-begin">
				<button type="button" title="Presioname"></button>
			</div>
			<div id="gear-cell-end" class="cell-end"> 
				<img
					class="light-off"
					src="/img/iq-gears/bombillo-apagado.svg"
					alt="Bombillo"
				/>
				<img
					id="light-on"
					class="light-on"
					src="/img/iq-gears/bombillo-encendido.svg"
					alt="Bombillo"
				/>
			</div>
		</div>
	</section>
	<section>
		<div class="text-center py-lg-3">
			<button
				type="button"
				id="btn-next-level"
				class="btn-next-level"
			></button>
		</div>
		<div
			id="gears-pieces-container"
			class="gears-pieces-container py-3"
		>
			{% for i in range(0, 7) %}
				<div
					class="target js-gears-piece-target m-2"
				></div>
			{% endfor %}
		</div>
	</section>
</section>
