---
layout: 'game.njk'
title: 'IQ GEARS'
permalink: '/iq-gears/'
scripts: ['../js/iq-gears.js']
---

<section>
	<section class="position-relative">
		<div class="gear-board mx-auto">
			{% for i in range(0, 25) %}
				<div
					id="gear-cell-{{i}}"
					class="cell js-gear-cell"
				></div>
			{% endfor %}
		</div>
		<div id="gear-cell-begin" class="cell-begin">
			<button type="button">Iniciar</button>
		</div>
		<div id="gear-cell-end" class="cell-end">
			<p>Finalizar</p>
		</div>
	</section>
	<section>
		<div
			id="gears-pieces-container"
			class="border d-flex flex-wrap justify-content-center p-3 my-3"
		>
			{% for i in range(0, 7) %}
				<div
					class="js-gears-piece-target border m-1"
				></div>
			{% endfor %}
		</div>
	</section>
</section>
