---
layout: 'game.njk'
title: 'Memoria'
permalink: '/memoria/'
scripts: ['../assets/js/memory.js']
---

{% include 'modal-memory.njk' %}

<div class="container p-5">
  <section class="row g-3 gy-4">
    <div
      class="col-12 col-md-5 order-md-last"
    >
    	<div class="row text-center text-body-secondary g-1">
    		<div class="col-6 col-md-12">
		      <div
		        class="vstack p-1 mx-1 mx-md-0 my-md-1 bg-body-secondary rounded mx-md-1"
		      >
		      	<span class="display-4" id="timer">00:00</span>
		      	<span 
		       		class="text-second fs-6 fw-bold d-inline-block mx-2 mx-md-0"
		      	>
		          Tiempo
		        </span>
		      </div>
		    </div>
		   	<div class="col">
		      <div
		      	class="vstack p-1 mx-1 m-md-1 bg-body-secondary rounded"
		      >
		      	<span id="trieds" class="display-4">0</span>
		        <span 
		       		class="text-second fs-6 fw-bold d-inline-block mx-2 mx-md-0"
		      	>
		          Intentos
		        </span>
		      </div>
		    </div>
		    <div class="col">
		      <div
		      	class="vstack p-1 mx-1 m-md-1 bg-body-secondary rounded"
		      >
		      	<span id="remaining" class="display-4">0</span>
		        <span
		        	class="text-second fs-6 fw-bold d-inline-block mx-2 mx-md-0"
		        >
		          Restantes
		        </span>
		      </div>
		  	</div>
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6">
			<div id="memory-container" class="row g-3 position-relative"></div>
    </div>
  </section>
</div>
