---
layout: game.njk
title: 'Juego Simón'
permalink: '/juego-simon/'
scripts: ['../js/simon.js']
---

{% include 'simon-modal.njk' %}

<p class="text-black bg-body-tertiary text-center p-2 text-opacity-75">
  Presiona el botón para iniciar un nuevo juego
</p>
<div class="container pb-5">
  <section class="row g-3">
    <div
      class="col-12 col-md-4 order-md-last d-flex flex-wrap align-content-md-start"
    >
      <div
      	class="memory-tag p-2 m-md-1 bg-body-secondary rounded w-100 border"
      >
        <span class="text-secondary fs-6 d-inline-block mx-2 mx-md-0">
          Puntuación:
        </span>
        <span id="score" class="display-6 fw-bold text-second">0</span>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 position-relative">
      <div
        id="simon-container"
        class="bg-body-secondary rounded p-3 mx-auto m-md-0 border"
      >
        <div class="simon p-3 p-xl-4">
          <div class="simon-btn-container" style="--rotate: 0turn">
            <div class="simon-btn-light green d-none"></div>
            <div class="simon-btn green" id="green"></div>
          </div>
          <div class="simon-btn-container" style="--rotate: 0.25turn">
            <div class="simon-btn-light red d-none"></div>
            <div class="simon-btn red" id="red"></div>
          </div>
          <div class="simon-btn-container" style="--rotate: 0.75turn">
            <div class="simon-btn-light yellow d-none"></div>
            <div class="simon-btn yellow" id="yellow"></div>
          </div>
          <div class="simon-btn-container" style="--rotate: 0.5turn">
            <div class="simon-btn-light blue d-none"></div>
            <div class="simon-btn blue" id="blue"></div>
          </div>
          <div class="simon-center" id="simon-center">
            <div class="simon-btn-start" id="simon-btn-start">
              <span class="opacity-75">Iniciar</span>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </section>
</div>
